%ul
  %li.home
    %a{:href => "index.html"} Home
  %li.about-us
    %a{:href => "about-us.html"} About Us
  %li.services
    %a{:href => "services.html"} Services
  %li.training
    %a{:href => "training.html"} Training
  / %li.support
  /   %a{:href => "support.html"} Our Support Team
  %li.testimonials
    %a{:href => "testimonials.html"} Testimonials
  %li.contact-us
    %a{:href => "contact-us.html"} Contact Us