%h1 Contact Us

%h2 We're ready when you are!

%p 
  Call Stickland Bookkeeping Consultants Inc. TODAY…
  %br
  Tel.: (519) 623-5381
  %br
  Fax: (519) 623-7857

%p or

%p
  %a{:href => "mailto:sandy@ssbookkeeping.com"} Email us
  here