%h1 Most Frequently Used Government Forms
%p CRA Forms

%ul
  %li
    %a{:href => "http://www.cra-arc.gc.ca/E/pbg/tf/rc59/README.html", :target => "_blank"} RC59 - Business Consent Form
  %li
    %a{:href => "http://www.cra-arc.gc.ca/E/pbg/tf/td1/README.html", :target => "_blank"} TD1 - Personal Tax Credit
  %li
    %a{:href => "http://www.cra-arc.gc.ca/E/pbg/tf/td1on/README.html", :target => "_blank"} TD1ON - Ontario Personal Tax Credits