
%p.home-intro
  We have the power to take your business to the next level by combining old fashioned values with new age technology and we do it all with… 
  %span.pride
    P.R.I.D.E
%p
  %span.home-acronym-label Professionalism – 
  to do a job right the first time requires knowing what has to be done and how to do it well.
%p
  %span.home-acronym-label Reliability –
  without it, there is no foundation for building a lasting relationship
%p
  %span.home-acronym-label Innovation –
  every business is unique and requires versatility and adaptability
%p
  %span.home-acronym-label Definitiveness –
  to express with clarity and exactitude is to afford a solution.  
%p
  %span.home-acronym-label Efficiency –
  this is the power to produce the intended effect in relation to cost - time, money and energy.
.marquee
  .marquee-content
    %h3 
      Having problems with
      %br
      Sage 50?
    %p 
      Have our consultant and/or trainer assist you with all your software and training needs. 
      %a{:href => "mailto:sandy@ssbookkeeping.com"} Email us
      today for an estimate tailored to your specific needs
.clear    