%h1 Services

%h2 Bookkeeping services include...

%ul
  %li Accurate and efficient data entry
  %li Invoicing to maintain cash flow
  %li Monitoring A/R and A/P
  %li Payroll administration including T4s and T4As
  %li Monthly and quarterly reports
  %li Cash flows and projections
  %li Year end preparation for accountant's review
  %li Job costing and analysis
  %li Government remittances

%p We want you to feel confident that your accounting system accurately reflects your current situation so you can concentrate on running your business instead of trying to stay on top of your bookkeeping. The steps involved with basic bookkeeping can be overwhelming depending on the size of your business and the number of transactions. If you no longer feel like you have control of your bookkeeping, give us a call.

%p We will manage your business finances and keep you on the right track. We'll ensure that all your government remittances are completed and filed on time to avoid any late penalties and/or interest charges.

%p Our primary responsibilities involve the bookkeeping and data entry, ensuring the integrity and accuracy of your accounting system. On a monthly basis, we close the books, prepare your financial reports (balance sheet, profit and loss statements), review your outstanding payables and aging receivables and check your cash flow to help identify specific areas that need attention. We will present this information in a comprehensive format so you may understand your company's financial position each month.

%p We will prepare your year-end financial reports and business analysis and liaison with your accountant. Once your accountant has completed the year-end we will post all year-end journal entries into your accounting program in order to maintain integral information.

%h2 Optional services include...

%ul
  %li Inventory
  %li Audit assistance
  %li Budget preparation and planning
  %li Computer software conversion
  %li Job costing

%p Depending on the nature of your business or your current financial situation, you may need customized services to accomplish specific company objectives. In addition to our supplemental services, you can get assistance preparing for unexpected government audits. If you need something not listed please check with us, as we try to accommodate all of your accounting needs.

%p Our goal is to manage your complete accounting system. If you are interested in additional accounting assistance, call to schedule a consultation.

%h2 Special skills

%ul
  %li Creative and resourceful problem solvers and balanced decision makers
  %li Demonstrated analytical and organizational abilities
  %li Adaptable and expert at priority setting
  %li Self-motivated, energetic and conscientious
  %li Proven computer skills

%p Click <a href="governmentforms.html">here</a> to get access to the most frequently used government forms.