.intro
  %h1 Our Support Team
  %p We have the old fashioned values Simply Accounting by Sage provides the new age technology and together we create the power to take your business to the next level.
.team
  %h2 Meet our support team
  %img{:src => "images/support_team.jpg", :alt => "Our Support Team"}
.technology
  %h2 The Technology
  %img{:src => "images/support_simply1.jpg", :alt => "Simply Accounting"}
  %img{:src => "images/support_simply2.jpg", :alt => "Simply Accounting"}
  %img{:src => "images/support_simply3.jpg", :alt => "Simply Accounting"}
.clear