%h1 Testimonials
%nav.tabs
  %ul
    %li 
      %a{:href => "#clients", :class => "tab-button"} Clients
    %li 
      %a{:href => "#accountants", :class => "tab-button"} Accountants
.clear
#clients.tab
  %h2 Some great reviews from some great clients...
  %blockquote 
    %p <span class="quote-symbol">“</span>As I reflect upon my decision in January 2000 to have you assist us in resolving accounting and bookkeeping problems that had developed in 1999 and our subsequent decision to engage your services on a regular monthly basis starting in July 2001, I realize that these were two of the best business decisions I've made over the years.
    %p I quickly acknowledged that outsourcing our bookkeeping needs to the experienced professional that you are saved us countless hours of wasted time, money and aggravation. Problems that a small business enterprise can ill afford to endure.
    %p I thank you most sincerely for the truly economical and proficient services you have provided to us over the years to say that we have no hesitation whatsoever in recommending you to others."
    %footer– Art Mosey, President, Bradley Gaskin Marshall Financial Services Ltd.

  %blockquote 
    %p <span class="quote-symbol">“</span>Sandy helped us take our simply accounting to a whole new level, by introducing us to new ways of using the software it allowed us to use our time more efficiently and effectively.
    %p She has a strong knowledge base that coupled with her ability to quickly identify and understand accounting issues, results in accurate and timely problem solving.
    %p Our company consists of both manufacturing and retail components and thanks to Sandy we have managed to streamline both operations. We would highly recommend Sandy to anyone looking for a bookkeeper."
    %footer – Cathy Jervah, President, DNR Industries & Milton Motorsports

#accountants.tab
  %h2 Some great reviews from some great accountants...
  %blockquote 
    %p <span class="quote-symbol">“</span>It has been a pleasure working with Sandy. Her professionalism and client commitment is excellent. She has demonstrated time and time again to provide complete and accurate accounting records on a timely basis. This has reduced the time it takes to complete the client's year end financial statements and tax returns, and therefore reduced the client's accounting fees."
    %footer – Mark Eamer, M.Acc., C.A., Hemmerich, Flanagan, Kratz & Associates LLP

  %blockquote 
    %p <span class="quote-symbol">“</span>...we experienced your diligent and professional service. We are happy to recommend you as a bookkeeper to individuals or companies."
    %footer – Louis J. Sapi, M.B.A., C.A., McWilliams & Sapi Chartered Accountants

  %blockquote 
    %p <span class="quote-symbol">“</span>We found her to be very reliable, accurate, engaging and professional at all times."
    %footer – Peter J. Schwarzl, C.A., C.B.V., C.F.E., BDO Dunwoody

  %blockquote 
    %p <span class="quote-symbol">“</span>Sandy is an accurate bookkeeper with strong accounting skills. She recognizes accounting problems and issues and is able to handle these issues as they arise. Sandy shows initiative when it comes to recognizing potential accounting problems and resolving these issues."
    %footer – Adele Gibbings, Ernst & Young