%h1 Training

%h2 Training & consulting...

%ul
  %li Training provided for most accounting software programs
  %li Installation of software, including setup and implementation of complete accounting processes
  %li Consultation on streamlining procedures and minimizing costs

%p We provide onsite comprehensive training for individuals at all levels. From the novice to the seasoned bookkeeper we can show you how to work more efficiently and utilize all the features of your accounting software that will help you save time and money. Our main focus is bookkeeping and our forte is Sage 50. However, we do provide training for various other software programs as well.

%p As a solution provider we can assist you in making the right decision for your business. Depending on your needs let us help you choose the software that is right for you.

%p Onsite training for individuals or groups with the added bonus of ongoing phone support may be the solution you're looking for. Have you ever attended a training seminar and then got back to your office only to find that you missed a key component? Then you call tech support only to be put on hold and now you get to listen to the elevator music or the prerecorded message that continuously loops. Let our immediate response team assist you in getting the answers you need to address the issue at hand and enable you to get on with your day.