$dark-blue: #153872;
$orange: #FE9E29;

body {
	font-size: 13px;
	font-weight: normal;
	font-family: "myriad-pro-n4", "myriad-pro", Verdana, Arial, sans-serif;
	line-height: 1.4;
	color: #444;
	margin:50px;
}

p, ul, ol, blockquote { margin-bottom: 14px;}

ul {
	list-style-type: disc;
	margin-left:18px;
	li {
		
	}
}

a { 
	color: $orange;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

h1, h2, h3 {
	line-height: 1;
	margin-top:0;
	font-weight: 700;
	font-family: "myriad-pro-n7", "myriad-pro", Verdana, Arial, sans-serif;
}

h1, h2 { 
	color: $orange;
}

h1 {
	font-size: 22px;
	margin-bottom: 14px;
}

h2 {
	font-size: 16px;
	margin-bottom: 18px;
	margin-top:25px;
}

h3 { 
	color: $dark-blue;
	font-size: inherit;
}

blockquote {
	line-height: 1.6;
	padding: 25px 40px 0 40px;
	.quote-symbol {
		font-size:400%;
		font-family: "Georgia", serif;
		line-height: 0;
		position:relative;
		top: 25px;
		margin-right:2px;
		color:$orange;
		
	}
	footer {
		font-size:10px;
		font-style: italic;
		font-family: "myriad-pro-i4", "myriad-pro", Verdana, Arial, sans-serif;
		font-weight: 400;
		color:$dark-blue;
	}
}

//=========== REUSABLE CLASSES ================//

.clear {
	clear:both;
	overflow:hidden;
}

//=========== IDs ================//
#container, footer {
	width: 730px;
	margin: auto;
}
#container {
	border-radius: 12px;
	background: #fff;
	-webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .25);
	box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .25);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#dddddd', Direction=145, Strength=10);
	border: solid 1px #ddd;
}

header {
	#header-image {
		background: #e0ddd6 url(../images/main-image.jpg) no-repeat;
		height: 104px;
		display:block; 
		position:relative;
		#logo {
			background: url(../images/main-logo.gif) no-repeat;
			display:block;
			text-indent: -9999px;
			width: 264px;
			height: 104px;
			position: absolute;
			top:0;
			right:0;
		}
	}
	#top-bar {
		height: 20px;
		padding: 15px;
		nav.secondary{
			float:right;
			a { 
				color: $dark-blue;
				font-size:12px;
				&:hover {
					opacity: .6;
				}
			}
		}
	}
	#nav-bar {
		background: $orange;
		-webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .2);
		box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, .2);
		margin-bottom: 10px;
		nav.primary{
			font-size: 12px;
			ul {
				list-style-type:none;
				padding:0;
				margin:0;
				float:right;
				li { float:left; 
					border-right: solid 1px rgba(21,56,144,.4);
					margin: 10px 0;
					&:last-child{
						border-right: none;
					}
					a {
						color: $dark-blue;
						padding: 0px 8px;
						display:inline-block;
						&:hover {
							opacity: .5;
						}
					}
				}
			}
		}
	}
}

//================ NAV - SELECTED STATE =================//
body.home header #nav-bar nav.primary ul li.home a {
	color: #fff;
}

body.about-us header #nav-bar nav.primary ul li.about-us a {
	color: #fff;
}

body.services header #nav-bar nav.primary ul li.services a {
	color: #fff;
}

body.training header #nav-bar nav.primary ul li.training a {
	color: #fff;
}

body.support header #nav-bar nav.primary ul li.support a {
	color: #fff;
}

body.testimonials header #nav-bar nav.primary ul li.testimonials a {
	color: #fff;
}

body.contact-us header #nav-bar nav.primary ul li.contact-us a {
	color: #fff;
}

body.home section.main {
	overflow:hidden;
}

section.main {
	position: relative;
	padding:30px 170px 30px 30px;
	background: url(../images/bigstar.gif) no-repeat right 30px;
	min-height: 280px;
}
body.home section.main {
	padding:30px 249px 30px 30px;
}

#site-footer {
	font-size: 12px;
	color:#bbb;
	text-align: center;
	padding: 22px 0;
	margin-bottom: 50px;
}

//============== HOME PAGE ====================//
.home-intro {
	font-family: "myriad-pro-n7", "myriad-pro", Verdana, Arial, sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height:1.6;
	margin-bottom:32px;
	color: $dark-blue;
	.pride {
		color: $orange;
		font-size: 40px;
		line-height:0px;
		position:relative;
		top:12px;
		margin-bottom: 10px;
	}
}

.home-acronym-label{
	color:orange;
	font-family: "myriad-pro-n7", "myriad-pro", Verdana, Arial, sans-serif;
	font-weight:700;
	
}

.marquee {
	position:absolute;
	right:-89px;
	top:30px;
	width: 228px;
	height: 272px;
	.marquee-content {
		line-height: 1.7;
		padding: 30px;
		a {
			text-decoration:underline;
			color: $dark-blue;
			font-family: "myriad-pro-n7", "myriad-pro", Verdana, Arial, sans-serif;
			font-weight:700;
		}
	}
	h3 { 
		line-height: 1.4;
		margin-bottom:1em;
	}
	background: url(../images/home_star.gif) no-repeat;
}

//============== SUPPORT PAGE =================//
.team, .technology {
	float:left;
}
.team {
	width:230px;
	margin-right: 20px;
}

.technology {
	width: 200px;
}

//============= TESTIMONIALS PAGE =============//
.tabs {
	float:right;
	margin-bottom: 20px;
	margin-top: -40px;
	li {
		display: inline;
		float:left;
		margin-left: 10px;
		a { 
			display:inline-block;
			padding: 5px;
			border: solid 1px $orange;
			border-radius: 3px;
			&.selected {
				background: $orange;
				color: #fff;
			}
			
		}
	}
}


//============== MEDIA QUERIES ================//
@media print {
	.tabs {
		display:none;
	}
	.tab {
		display: block;
	}
}

@media all and (max-width:800px) {
	body{
		margin:0;
	}
	#container, footer {
		width: 100%;
	}
	#container {
		border-radius:0;
		border:none;
		-webkit-box-shadow: none;
		box-shadow:none;
	}
	
	#site-footer { 
		border-top: 1px solid #ccc;
	}
	
	section.main {
		padding: 25px 170px 25px 25px;
	}
}

@media all and (max-width: 480px) {
	header {
		#top-bar {
			padding: 8px;
		}
		#nav-bar {
			nav.primary{
				ul {
					li { 
						&.home {
							display:none;
						}
						a {
							padding: 0px 6px;
						}
					}
				}
			}
		}
		#header-image {
			background: #e0ddd6;
			#logo {
				position: relative;
				left: -30px;
			}
		}
		
	}
	section.main, body.home section.main {
		padding:20px;
		background: none;
	}
	.marquee {
		display:none;
	}
}